.footer
  each footer, slug in public.footer._data
    a.footer__button(href="#{ footer.link }", target="_blank" )
      svg.footer__icon  
        use(xlink:href="/assets/defs.svg#icon-#{ footer.icon }")