each portfolio, slug in public.portfolio._data 
  .portfolio__card
    h1.portfolio__title #{ portfolio.title }
    p.portfolio__text #{ portfolio.text }
  img.portfolio__image(src="../assets/instrument-#{ portfolio.image }.png")  

  


