h3.feature__header Why choose Theater?

each feature, slug in public.feature._data
  .feature__wrap
    svg.feature__image
      use(xlink:href="assets/defs.svg#icon-#{ feature.icon }")
    .feature__content
      h3.feature__title #{ feature.title }
      p.feature__text #{ feature.text }



        
