h1.team__title Meet the Specialists

.team__wrap 
  each team, slug in public.team._data
    .team__member
      .team__frame
        ul.team__list--hidden
          a.team__link--hidden(href="https://twitter.com/" target="_blank")
            svg.team__icon--hidden
              use(xlink:href="/assets/defs.svg#icon-hidden-twitter")  
          a.team__link--hidden(href="https://facebook.com/" target="_blank")
            svg.team__icon--hidden 
              use(xlink:href="/assets/defs.svg#icon-hidden-facebook")
        img.team__image(src="../assets/team-member-#{ team.image }.png") 
      h3.team__name #{ team.name }
      span.team__role #{ team.role }
