.menu
  input.menu__input(type="checkbox" id="menu")
  label.menu__button(for="menu")
    svg#menu__logo
      use(xlink:href="assets/defs.svg#icon-menu")
  svg.menu__logo
    use(xlink:href="assets/defs.svg#icon-logo")
  .menu__box
    ul.menu__list
    each menu, slug in public.menu._data 
      li.menu__items
        a.menu__links(href="#{ menu.path }") #{ menu.label }
      