.menu
  input.menu__input(type="checkbox" id="menu")
  label.menu__button(for="menu")
    svg#menu__logo
      use(xlink:href="/assets/defs.svg#icon-menu")
  svg.menu__logo
    use(xlink:href="/assets/defs.svg#icon-logo")
  .menu__box
    ul.menu__list
      li.menu__items
        a.menu__links(href="#") Home
      li.menu__items
        a.menu__links(href="#feature") Features
      li.menu__items
        a.menu__links(href="#portfolio") Portfolio
      li.menu__items
        a.menu__links(href="#team") Team
      li.menu__items
        a.menu__links(href="#contact") Contact