.contact {
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url('../assets/courtain.png');
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: $web-up) {
    padding: 25px;
    height: unset;
  }

  &__form {
    min-width: 360px;
  }
  
  &,
  &__field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__field {
    border: 0;
    margin-bottom: 15px;
    padding: 0;
  }

  &__input {
    opacity: 0.7;
  }
  
  &__title {
    color: $white;
    font-weight: bolder;
    margin: 0 0 50px;
    font-family: Oswald;
  }

  &__label {
    color: $white;
  }

  &__button {
    background-color: #E0C381;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    height: 50px;
    margin: 15px 0 50px;
    width: 100%;

    @media screen and (max-width: $web-up) {
      margin-bottom: unset;
    }

    @media screen and (max-width: $mobile-up) {
      width: 50%;
      
    }
  }
}
