.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url('../assets/darkstage.png');
  background-repeat: no-repeat;
  background-position: center bottom;

  @media screen and (max-width: $web-up) {
    padding: 25px;
  }
  
  &__title {
    color: white;
    font-weight: bolder;
    margin: 0 0 50px;

    @media screen and (min-width: $hd-up) {
      font-size: 48px;
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 25%;
    width: 70%;
    padding: 20px;
    margin-bottom: 50px;

    @media screen and (min-width: $hd-up) {
      flex-direction: column;
      height: 50%;
    }

    @media screen and (max-width: $web-up) {
      flex-direction: column;
      width: 100%;
      height: 65%;
      margin-bottom: 0;
    }
  }

  &__tag {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 40%;

    @media screen and (min-width: $hd-up) {
      justify-content: inherit;
    }
    
    @media screen and (max-width: $web-up) {
      height: 20%;
      width: 65%;
    }

    @media screen and (max-width: $tablet-up) {
      width: 75%;
    }

    @media screen and (max-width: $mobile-up) {
      width: 100%;
    }
  }

  &__placeholder {
    width: 100%;
    height: 50px;

    @media screen and (max-width: $web-up) {
      height: 30px;
      margin-bottom: 15px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 35%;

    @media screen and (min-width: $hd-up) {
      width: 40%;
    }

    @media screen and (max-width: $web-up) {
      width: 65%;
      margin-top: 15px;
    }

    @media screen and (max-width: $tablet-up) {
      width: 75%;
    }

    @media screen and (max-width: $mobile-up) {
      width: 100%;
    }
  }

  &__message {
    height: 100%;
  }

  &__button {
    width: 350px;
    height: 50px;
    background-color: #e0c381;
    border-radius: 5px;
    margin-bottom: 50px;
    margin-top: 15px;

    @media screen and (max-width: $web-up) {
      width: 40%;
      height: 35px;
    }

    @media screen and (max-width: $mobile-up) {
      width: 50%;
    }
  }
}