.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url(..assets/courtains.png);
  background-repeat: no-repeat;
  z-index: 9999;

  &__title {
    color: #4a0000;
    font-weight: bolder;
  }

  &__wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    width: 50%;
    background-color: lightgray;
  }

  &__tags {
    display: flex;
    flex-direction: column;

  }

  &__placeholder {
    width: 350px;
    height: 30px;
    margin-bottom: 30px;
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__message {
    height: 150px;
  }

  &__button {
    width: 100px;
    height: 50px;
    background-color: goldenrod;
    border-radius: 5px;
    margin-top: 15px;

  }





}