.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: unset;
  margin: 50px;
  
  &__header {
    font-size: 36px;
    font-weight: bolder;
    color: $wine;
    font-family: Oswald;

    @media screen and (min-width: $hd-up) {
      font-size: 48px;
    }

    @media screen and (max-width: $mobile-up) {
      font-size: 28px;
    }
  }

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    border-bottom: 1px solid rgba(88, 27, 27, 0.4);

    @media screen and (max-width: $tablet-up) {
      width: 80%;
    }

    @media screen and (max-width: $mobile-up) { 
      height: 25%;
      border-bottom: 1px solid goldenrod;
    }
  }

  &__wrap:nth-last-of-type(1) {
    border: none;
  }

  &__content {
    padding: 25px;

    @media screen and (max-width: $tablet-up) {
      padding: 15px;
    }
  
    @media screen and (max-width: $mobile-up) {
      padding: 10px;
    }
  }

  &__image {
    fill: #E0C381;
    height: 100px;
    width: 100px;

    @media screen and (max-width: $web-up) {
      height: 150px;
      width: 150px;
    } 

    @media screen and (max-width: $mobile-up) {
      height: auto;
      width: auto;
    } 
  }

  &__title {
    font-family: Oswald;
    font-size: 20px;

    @media screen and (min-width: $hd-up) {
      font-size: 24px;
    }

    @media screen and (max-width: $web-up) { 
      font-size: 14px;
    }

    @media screen and (max-width: $mobile-up) {
      font-size: 12px;
    }
  }

  &__title,
  &__text{
    color: $wine;
  }

  &__text{
    line-height: 22px;
    font-size: 16px;

    @media screen and (min-width: $hd-up) {
      font-size: 18px;
    }

    @media screen and (max-width: $web-up) {
      font-size: 14px;
    }

    @media screen and (max-width: $mobile-up) {
      font-size: 11px;
      line-height: 18px;
    }
  }
}
