.header {
  background-image: url('../assets/cover.png');
  background-repeat: no-repeat;
  background-size: cover;
  
  &,  
  &__headline {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  &__headline {
    align-items: center;
    justify-content: center;
  }
  
  &__title {
    color: $white;
    line-height: 5px;
  }

  &__title--big {
    font-size: 48px;

    @media screen and (min-width: $hd-up) {
      font-size: 64px;
    }

    @media screen and (max-width: $tablet-up) {
      font-size: 36px;      
    }

    @media screen and (max-width: $mobile-up) {
      font-size: 28px;      
    }
  }

  &__title--small {
    font-size: 18px;

    @media screen and (min-width: $hd-up) {
      font-size: 24px;
    }

    @media screen and (max-width: $tablet-up) {
      font-size: 16px;      
    }

    @media screen and (max-width: $mobile-up) {
      font-size: 14px;   
    }   
  }
}
