.portfolio {

  width: 100%;
  display: flex;
  flex-wrap: wrap;

  &__card,
  &__image {
    height: calc(100% / 2);
    width: calc(100% / 3);

    @media screen and (max-width: $web-up) {
      width: calc(100% / 2);
      height: calc(100%/ 3);
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    background-color: #581b1b;
    padding: 25px;
    height: auto;

    @media screen and (max-width: $tablet-up) {
      padding: 20px;
    }

    @media screen and (max-width: $mobile-up) {
      padding: 15px;
    }
  }

  &__card::after {
    @media screen and (max-width: $web-up){
      content: '';
      width: 50px;
      height: 50px;
      border-top: 50px solid transparent;
      border-left: 30px solid #581B1B;
      border-bottom: 50px solid transparent;
      position: relative;
      left: 105%;

    }
  }

  &__title,
  &__text {
    color: white;
  }

  &__title {
    font-family: Oswald;

    @media screen and (max-width: $mobile-up) {
      margin: 0;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 24px;

    @media screen and (max-width: $tablet-up) {
      width: 85%;
      line-height: 20px;
     }

    @media screen and (max-width: $mobile-up) {
     width: 95%;
     font-size: 13px;
     line-height: 18px;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}