.container
  #header.header
    .header__nav
      .header__logo
        //- LOGO 
        p LOGO
      ul.header__list
        li.header__items
          a.header__links(href="#") Home
        li.header__items
          a.header__links(href="#feature") Features
        li.header__items
          a.header__links(href="#portfolio") Portfolio
        li.header__items
          a.header__links(href="#team") Team
        li.header__items
          a.header__links(href="#contact") Contact
    .header__title
      h1.header__title--big Welcome to Theater
      h4.header__title--small A fancy responsive theme

  #feature.feature
    != partial("feature/_feature")
  
  #portfolio.portfolio
    != partial("portfolio/_portfolio")
 
  #team.team
    != partial("team/_team")

  #contact.contact
    h1.contact__title Get in Touch
    .contact__wrap  
      .contact__tag
        input.contact__placeholder(type="text", name="name", placeholder="Name")
        input.contact__placeholder(type="text", name="email", placeholder="Email")
      .contact__text
        input.contact__message(type="text", name="email", placeholder="Message")
    button.contact__button Submit
    
    //- social media buttons
  .container__footer 
    a.container__button(href="https://github.com/", target="_blank")
      svg.container__icon
        use(xlink:href="/assets/defs.svg#icon-github")
    a.container__button(href="https://wordpress.org/download/", target="_blank")
      svg.container__icon
        use(xlink:href="/assets/defs.svg#icon-wordpress")
    a.container__button(href="https://www.reddit.com/", target="_blank") 
      svg.container__icon
        use(xlink:href="/assets/defs.svg#icon-reddit")